.input-style {
  border: none;
}

.img-file-input {
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid #2cbbad;
}

.file-input {
  display: none;
}

.devider {
  background-color: #2cbbad;
  width: 95%;
}

.start-devision {
  height: 50px;
  width: 30px;
  background-color: #364456;
  list-style-type: none;
}
