.costum-list-style-type::marker {
  font-size: 20px;
  color: #2cbbad;
}

.costum-list-style-type {
  list-style-type: square;
}

.input-style {
  border: none;
}

.input-date {
  font-size: 10.5px;
}
