.start-devision2 {
  height: 50px;
  width: 30px;
  background-color: #2cbbad;
  list-style-type: none;
}

.input-style {
  border: none;
}

.input-date {
  font-size: 10.5px;
}

.colored-text ::placeholder {
  color: #2cbbad;
}

.costum-list-style-type::marker {
  font-size: 20px;
  color: #2cbbad;
}

.costum-list-style-type {
  list-style-type: square;
}

.fn-button {
  float: right;
  margin-left: 7px;
  border-radius: 50%;
  background-color: #2cbbad;
  color: white;
  border: none;
}

.fn-button:hover {
  transform: scale(1.2);
}
