.banner-position {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.left-side {
  background-color: #ede63f;
  display: flex;
  padding: 20px 0px;
  justify-content: flex-end;
  align-items: center;
}

.right-side {
  background-color: #7738ff;
  display: flex;
  padding: 20px 0px;
  justify-content: flex-end;
  align-items: center;
}

.banner-button {
  background-color: #071923;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  transition: 0.5s;
}

.banner-button:hover {
  color: #071923;
  background-color: #ececec;
  transition: 0.5s;
}

.banner-text {
  color: white;
  margin-bottom: 0px;
  align-self: center;
  padding: 0px 5%;
}

.inner-wrapper {
  display: flex;
  margin-right: 0 auto;
}
