.home-page-button {
  border: none;
  border-radius: 3px;
  background-color: #7738ff;
  color: white;
  padding: 10px 20px;
  transition: 0.5s;
  margin-top: 4%;
}

.home-page-button:hover {
  color: #7738ff;
  background-color: #ececec;
  outline: 1px solid #7738ff;
  transition: 0.5s;
}
