.carousel {
  padding-left: 150px;
}

.carousel-control {
  color: black;
}
.carousel-wrapper {
  width: 70% auto;
  height: 40vh !important;
}

.carousel-wrapper image {
  width: 100%;
  display: block;
}

.carousel-control-next {
  color: teal;
}
