.container-fluid {
  background-image: url("../Images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.header-section {
  margin-left: 6%;
  padding: 5% 0px;
}

.header {
  font-weight: 700;
}

.main-section-choose {
  height: 35vh;
  padding: 0;
  justify-content: space-around;
}
