.card-title {
  text-align: center;
  font-weight: bold;
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.card-design {
  border: none;
  box-shadow: 0px 1px 1px 1px rgba(114, 108, 108, 0.75);
  -webkit-box-shadow: 2px 2px 5px 0px rgba(114, 108, 108, 0.75);
  -moz-box-shadow: 1px 1px 1px 1px rgba(114, 108, 108, 0.75);
  height: 35vh;
}

.position-card-button {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 20px;
}
