.cv-wapper {
  left: 5%;
  border-radius: 7px;
  box-shadow: 0px 1px 1px 1px rgba(114, 108, 108, 0.75);
  -webkit-box-shadow: 2px 2px 5px 0px rgba(114, 108, 108, 0.75);
  -moz-box-shadow: 1px 1px 1px 1px rgba(114, 108, 108, 0.75);
  background-color: white;
  margin-bottom: 100px;
}

.cv-edit-button {
  border: none;
  border-radius: 3px;
  background-color: #7738ff;
  color: white;
  padding: 20px 20px;
  transition: 0.5s;
  margin-top: 4%;
  float: right;
}

.cv-edit-button:hover {
  color: #7738ff;
  background-color: #ececec;
  outline: 1px solid #7738ff;
  transition: 0.5s;
}

.onClickDisplayWebDevelopment {
  position: relative;
}

.onClickDisplayWebDevelopment .aboutMe {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 38%;
  height: 16%;
}

.onClickDisplayWebDevelopment .webDevPhoto {
  position: absolute;
  top: 5%;
  left: 43%;
  width: 15%;
  height: 16%;
}

.onClickDisplayWebDevelopment .personalContact {
  position: absolute;
  top: 5%;
  left: 60%;
  width: 30%;
  height: 16%;
}

.onClickDisplayWebDevelopment .positionCompany {
  position: absolute;
  top: 22%;
  left: 5%;
  width: 50%;
  height: 5%;
}

.onClickDisplayWebDevelopment .workingExpDates {
  position: absolute;
  top: 27%;
  left: 5%;
  width: 50%;
  height: 2.5%;
}

.onClickDisplayWebDevelopment .extended {
  position: absolute;
  top: 30.5%;
  left: 5%;
  width: 50%;
  height: 50%;
}

.onClickDisplayWebDevelopment .skills {
  position: absolute;
  top: 22%;
  left: 55%;
  width: 50%;
  height: 17%;
}

.onClickDisplayWebDevelopment .education {
  position: absolute;
  top: 40%;
  left: 5%;
  width: 50%;
  height: 17%;
}
