.cv-wapper {
  left: 5%;
  border-radius: 7px;
  box-shadow: 0px 1px 1px 1px rgba(114, 108, 108, 0.75);
  -webkit-box-shadow: 2px 2px 5px 0px rgba(114, 108, 108, 0.75);
  -moz-box-shadow: 1px 1px 1px 1px rgba(114, 108, 108, 0.75);
  background-color: white;
  margin-bottom: 100px;
}

.cv-edit-button {
  border: none;
  border-radius: 3px;
  background-color: #7738ff;
  color: white;
  padding: 20px 20px;
  transition: 0.5s;
  margin-top: 4%;
  float: right;
}

.cv-edit-button:hover {
  color: #7738ff;
  background-color: #ececec;
  outline: 1px solid #7738ff;
  transition: 0.5s;
}

.onClickDisplayDesign {
  position: relative;
}

.onClickDisplayDesign .designAboutMe {
  position: absolute;
  top: 30%;
  left: 10%;
  width: 50%;
  height: 12%;
}

.onClickDisplayDesign .designWorkExperiance {
  position: absolute;
  top: 45%;
  left: 10%;
  width: 40%;
  height: 30%;
}

.onClickDisplayDesign .designSocialMedia {
  position: absolute;
  top: 76%;
  left: 10%;
  width: 40%;
  height: 9%;
}

.onClickDisplayDesign .designEducation {
  position: absolute;
  top: 44%;
  left: 52%;
  width: 35%;
  height: 14%;
}

.onClickDisplayDesign .designSkills {
  position: absolute;
  top: 60%;
  left: 52%;
  width: 35%;
  height: 15%;
}
