.cv-wapper {
  left: 5%;
  border-radius: 7px;
  box-shadow: 0px 1px 1px 1px rgba(114, 108, 108, 0.75);
  -webkit-box-shadow: 2px 2px 5px 0px rgba(114, 108, 108, 0.75);
  -moz-box-shadow: 1px 1px 1px 1px rgba(114, 108, 108, 0.75);
  background-color: white;
  margin-bottom: 100px;
}

.cv-edit-button {
  border: none;
  border-radius: 3px;
  background-color: #7738ff;
  color: white;
  padding: 20px 20px;
  transition: 0.5s;
  margin-top: 4%;
  float: right;
}

.cv-edit-button:hover {
  color: #7738ff;
  background-color: #ececec;
  outline: 1px solid #7738ff;
  transition: 0.5s;
}

.onClickDisplayDigitalMarketing {
  position: relative;
}

.onClickDisplayDigitalMarketing .photo {
  position: absolute;
  top: 5%;
  left: 9%;
  width: 16%;
  height: 13%;
}

.onClickDisplayDigitalMarketing .aboutMe {
  position: absolute;
  top: 5%;
  left: 25%;
  width: 60%;
  height: 12%;
}

.onClickDisplayDigitalMarketing .socialNetworks {
  position: absolute;
  top: 18.5%;
  left: 30%;
  width: 40%;
  height: 3.5%;
}

.onClickDisplayDigitalMarketing .positionCompany {
  position: absolute;
  top: 22%;
  left: 5%;
  width: 45%;
  height: 6%;
}

.onClickDisplayDigitalMarketing .workingExpDates {
  position: absolute;
  top: 28%;
  left: 5%;
  width: 45%;
  height: 2.5%;
}

.onClickDisplayDigitalMarketing .positionCompany {
  position: absolute;
  top: 29.5%;
  left: 5%;
  width: 45%;
  height: 35%;
}

.onClickDisplayDigitalMarketing .education {
  position: absolute;
  top: 65%;
  left: 5%;
  width: 50%;
  height: 19%;
}

.onClickDisplayDigitalMarketing .skills {
  position: absolute;
  top: 22%;
  left: 50%;
  width: 45%;
  height: 12%;
}

.onClickDisplayDigitalMarketing .languages {
  position: absolute;
  top: 46%;
  left: 50%;
  width: 45%;
  height: 6%;
}

.onClickDisplayDigitalMarketing .informalEducation {
  position: absolute;
  top: 54%;
  left: 50%;
  width: 45%;
  height: 6%;
}
