.display-tips {
  position: fixed;
  right: 5%;
  width: 30%;
  height: calc(100vh - 260px);
  margin-top: 153px;
  border-radius: 7px;
  box-shadow: 0px 1px 1px 1px rgba(114, 108, 108, 0.75);
  -webkit-box-shadow: 2px 2px 5px 0px rgba(114, 108, 108, 0.75);
  -moz-box-shadow: 1px 1px 1px 1px rgba(114, 108, 108, 0.75);
  background-color: white;
}
