.outer {
  height: auto !important;
}

.input-style {
  border: none;
}

.img-file-input {
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid cyan;
}

#file-input {
  display: none;
}

.input-date {
  font-size: 10.5px;
}

.cv-wapper {
  left: 5%;
  border-radius: 7px;
  box-shadow: 0px 1px 1px 1px rgba(114, 108, 108, 0.75);
  -webkit-box-shadow: 2px 2px 5px 0px rgba(114, 108, 108, 0.75);
  -moz-box-shadow: 1px 1px 1px 1px rgba(114, 108, 108, 0.75);
  background-color: white;
  margin-bottom: 100px;
}

Button {
  float: right;
}
