.editDesignCV .cv-wapper {
  left: 5%;
  border-radius: 7px;
  box-shadow: 0px 1px 1px 1px rgba(114, 108, 108, 0.75);
  -webkit-box-shadow: 2px 2px 5px 0px rgba(114, 108, 108, 0.75);
  -moz-box-shadow: 1px 1px 1px 1px rgba(114, 108, 108, 0.75);
  background-color: white;
  margin-bottom: 100px;
}

.editDesignCV .border {
  padding: 10%;
  border: 2px solid black !important;
}

.editDesignCV .fa-envelope {
  display: none;
}

.editDesignCV .fa-mobile-alt {
  display: none;
}

.editDesignCV .fa-map-marker-alt {
  display: none;
}

.editDesignCV .fa-twitter {
  display: none;
}

.editDesignCV .fa-linkedin {
  display: none;
}

.editDesignCV input::placeholder {
  color: black;
}
.editDesignCV ul {
  padding: 0px;
}
.editDesignCV .costum-list-style-type {
  list-style-type: none;
}

.editDesignCV .fn-button {
  border: 2px solid black;
  background-color: black;
}

.editDesignCV .input-date {
  border: none;
  font-weight: bold;
}

.editDesignCV .basicInfo {
  padding: 3% 0;
  background-color: black;
}

.editDesignCV .basicInfo .input-style {
  background-color: black;
  color: white !important;
  margin-left: 5%;
}

.editDesignCV .basicInfo .input-style::placeholder {
  color: white;
  opacity: 1;
}

.editDesignCV .shorter {
  margin-top: 7px;
}
