.editDigitalMarketing .cv-wapper {
  margin-left: 10%;
}

.editDigitalMarketing .img-file-input {
  border: none;
  width: 75%;
}

.editDigitalMarketing .socialMediaBar {
  padding-top: 3%;
  padding-bottom: 3%;
  background-color: #468f99;
}

.editDigitalMarketing .input-style-first {
  width: 25%;
  margin: 0px 10px;
  background-color: #468f99;
}

.editDigitalMarketing .shorter {
  width: 70%;
  background-color: white;
  margin: 0%;
}
.editDigitalMarketing .shorter::placeholder {
  color: #484848 !important;
}

.editDigitalMarketing .input-style-first::placeholder {
  color: white;
}

.editDigitalMarketing .socialMediaBar span {
  color: white;
}

.editDigitalMarketing .header {
  color: #468f99;
}

.editDigitalMarketing .fn-button {
  background-color: #468f99;
  color: black;
  border-radius: 0%;
}

.editDigitalMarketing .input-date {
  border: none;
  font-style: italic;
}

.editDigitalMarketing .costum-list-style-type {
  list-style-type: circle;
}

.editDigitalMarketing .languages {
  border: none;
}

.editDigitalMarketing .language-level span {
  margin-left: 8px;
  font-weight: bold;
}

.editDigitalMarketing .language-level {
  width: 100%;
}

.editDigitalMarketing Button {
  float: right;
}
