.editDataScienceCV input::placeholder {
  color: black;
}

.editDataScienceCV .costum-list-style-type {
  list-style-type: "-";
  color: black !important;
}

.editDataScienceCV .start-devision {
  display: none;
}
.editDataScienceCV .start-devision2 {
  display: none;
}

.editDataScienceCV .input-style-first {
  width: 25%;
  margin: 5px 10px;
}

.editDataScienceCV .hrDevider {
  color: black;
  width: 90%;
}

.editDataScienceCV .img-file-input {
  border: none;
  width: 70% !important;
  display: block;
}

.editDataScienceCV .fn-button {
  border: 2px solid black;
  background-color: black;
}

.editDataScienceCV .input-date {
  border: none;
}

.editDataScienceCV .costum-list-style-type::marker {
  color: darkgray;
}

.editDataScienceCV .languages {
  border: none;
}

.editDataScienceCV .language-level span {
  margin-left: 8px;
  font-weight: bold;
}

.editDataScienceCV .informal-education-container .fn-button {
  float: right !important;
}

.editDataScienceCV .shorter {
  width: 65%;
}

.editDataScienceCV .informal-education {
  border-radius: 5%;
  border: 1px solid darkgray;
  padding: 5px;
}
