.container-fluid {
  background-image: url("../Images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.right-side-bg-image {
  background-image: url("../Images/BackgroundFirstPage.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.main-section {
  height: calc(100vh - 100px);
  padding: 100px 0px;
}

.main-section-left {
  align-self: center;
  justify-content: center;
  display: inline;
  margin-left: 5%;
}

.headline {
  font-weight: 750;
}

.main-para {
  color: #838c91;
  font-weight: 400;
}
