.split-field {
  position: relative;
}

.split-field-top-half {
  position: absolute;
  top: 0;
  left: 0;
  height: 50%;
  width: 100%;
}

.split-field-bottom-half {
  position: absolute;
  top: 50%;
  left: 0;
  height: 50%;
  width: 100%;
}

.split-field-first-quarter {
  position: absolute;
  top: 0;
  left: 0;
  height: 25%;
  width: 100%;
}
.split-field-second-quarter {
  position: absolute;
  top: 25%;
  left: 0;
  height: 25%;
  width: 100%;
}
.split-field-thrdth-quarter {
  position: absolute;
  top: 50%;
  left: 0;
  height: 25%;
  width: 100%;
}
.split-field-fourth-quarter {
  position: absolute;
  top: 75%;
  left: 0;
  height: 25%;
  width: 100%;
}

.split-field-first-thrdth {
  position: absolute;
  top: 0;
  left: 0;
  height: 33%;
  width: 100%;
}
.split-field-second-thrdth {
  position: absolute;
  top: 33%;
  left: 0;
  height: 33%;
  width: 100%;
}
.split-field-thrdth-thrdth {
  position: absolute;
  top: 67%;
  left: 0;
  height: 33%;
  width: 100%;
}

.max-height {
  height: 400px;
}
