.last-page-right-side {
  background-image: url("../Images/Backgroundpop-up.png");
  height: calc(100vh - 100px);
  background-repeat: no-repeat;
  background-size: cover;
}

.last-page-heading {
  padding-top: 30%;
  font-weight: 750;
  margin-bottom: 10%;
  padding-left: 15%;
}

.last-page-para {
  font-weight: bold;
  padding-left: 30px;
  padding-left: 15%;
}

.last-page-para a {
  color: rgb(216, 60, 107);
  text-decoration: none;
}

.last-page-para a:hover {
  color: rgb(216, 60, 107);
  text-decoration: none;
}
