.carousel-control-next-icon {
  background-color: #7738ff;
  padding: 13px;
  border-radius: 50%;
  border: 4px solid #7738ff;
}
.carousel-control-prev-icon {
  background-color: #7738ff;
  padding: 13px;
  border-radius: 50%;
  border: 4px solid #7738ff;
}
.carousel-indicators li {
  background-color: #7738ff;
  border-radius: 50%;
  width: 12px;
  height: 12px;
}

.display-tips {
  padding: 20px 20px;
}

.split-field-half {
  position: relative;
}

.split-field-three-one {
  position: absolute;
  top: 0;
  left: 0;
  height: 50%;
  width: 100%;
}

.split-field-three-two {
  position: absolute;
  top: 50%;
  left: 0;
  height: 50%;
  width: 100%;
}
