.container-fluid {
  background-image: url("../Images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.web-development-button-container {
  margin: 50px 30px 0px 30px;
}
.button-list a:hover {
  text-decoration: none;
  color: #ececec;
  background-color: #7738ff;
}
.button-list {
  list-style-type: none;
  display: flex;
}

.button-list-item {
  text-decoration: none;
  margin: 20px 30px;
  padding: 15px 40px;
  color: #7738ff;
  background-color: #ececec;
  border-radius: 7px;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  box-shadow: 0px 1px 1px 1px rgba(114, 108, 108, 0.75);
  -webkit-box-shadow: 2px 2px 5px 0px rgba(114, 108, 108, 0.75);
  -moz-box-shadow: 1px 1px 1px 1px rgba(114, 108, 108, 0.75);
}

.selected {
  color: #ececec;
  background-color: #7738ff;
}

.button-list-item-edit {
  text-decoration: none;
  margin: 20px 30px;
  padding: 15px 15px;
  color: #ececec;
  background-color: #7738ff;
  border-radius: 7px;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  box-shadow: 0px 1px 1px 1px rgba(114, 108, 108, 0.75);
  -webkit-box-shadow: 2px 2px 5px 0px rgba(114, 108, 108, 0.75);
  -moz-box-shadow: 1px 1px 1px 1px rgba(114, 108, 108, 0.75);
}

.cv-wapper {
  left: 5%;
  border-radius: 7px;
  box-shadow: 0px 1px 1px 1px rgba(114, 108, 108, 0.75);
  -webkit-box-shadow: 2px 2px 5px 0px rgba(114, 108, 108, 0.75);
  -moz-box-shadow: 1px 1px 1px 1px rgba(114, 108, 108, 0.75);
  background-color: white;
  margin-bottom: 100px;
}
